.home{
    padding-top: 200px;
}
h1>span{
    color: #fa3966
}
.home-timer>ul > li > span{
    background-color:rgb(255, 255, 255);
    color: #fa3966;
    padding: 15px 20px 15px 20px;
    font-size: 30px;
    border-radius: 7px;
}
.home-timer>ul>li>p{
    padding-top: 10px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.homeBtn{
    background-color: #fccd42ee;
    border: 2px solid transparent;
    padding: 12px 40px 12px 40px;
    border-radius: 24px;
}
.social button{
    padding: 5px 7px;
}